body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header, main, footer {
    background-color: rgba(0, 0, 0, 0.7); /* Noir avec 70% d'opacité */
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}


/* Style mis à jour spécifique à la page des élèves */
.eleve {
    display: flex;
    border-bottom: 2px solid #1e90ff;
    margin: 20px 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 255, 0.2); /* Bleu avec 20% d'opacité */
}

.eleve figure {
    margin: 0;
    margin-right: 20px;
}

.eleve img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #1e90ff;
}

.eleve figcaption {
    text-align: center;
    font-weight: bold;
}

.etoiles {
    margin-top: 10px;
    font-size: 1.5em;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}
