body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background: linear-gradient(45deg, #0000ff, #1e90ff);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background: linear-gradient(45deg, #1e90ff, #87CEFA);
}

footer {
    background: linear-gradient(45deg, #0000ff, #1e90ff);
    padding: 10px 0;
    text-align: center;
}
/* Style spécifique à la page des élèves */
.eleve {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
    padding: 10px 0;
}

.eleve img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.etoiles {
    margin-top: 10px;
    font-size: 1.5em;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

